@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sec-1 {
    background: conic-gradient(from -45.28deg at 61.07% 61.25%, #BBD2FF 0deg, #FFFFFF 54.37deg, #F0F5FF 121.29deg, #BBD2FF 360deg);
}
.Hero button {
    padding-block: 8px;
    padding-inline: 24px;
    background-color: #193894B2;
    border-radius: 30px;
    border-style: none;
    font-size: 20px;
    color: #FFFFFF;
    font-family: Poppins;
    font-weight: 700;
}
.Hero {
    width: 70%;
    height: 70vh;
    padding-block: 74px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 37px;
}
.Hero p {
    width: 80%;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    color: #100F0F;

}

.Head-1 h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: Montserrat;
    color: #252B42;

}
.Head-1 p {
    font-size: 14px;
    font-weight: 400;
    font-family: Inter;
    color: #737373;
}
.sec-2{
    padding: 40px 20px;
    background-color: #fafafa;
}
.Head-1 {
    width: 40%;
    margin-inline: auto;
    text-align: center;
    margin-bottom: 30px;
}
.cent {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    color: #252B42;
}
.dev {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    color: #737373;
}
h4 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    color: #252B42;
}
.sec2-cont {
    width: 80%;
    margin: auto;
    display: flex;
    gap: 120px;
    align-items: center;
}
.vid-div {
    flex: 1.5;
}
.vid-div video {
    width: 100%;
    height: auto;
}
.cont {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cont h3,
.cont h4,
.cont p {
    margin: 0;
    line-height: 1.5;
}
.sec-3 {
    background-color: #fafafa;
    height: 80vh;
    display: flex;
}
.sec-3-1 {
    color: white;
    background: #193894;
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 90%;
    margin: auto;
    padding-block: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 30px;
}
.sec-3-1 p {
    font-weight: 400;
    font-size: 25px;
}
.sec-4 {
    background-color: #FFFFFf;
    height: 80vh;
    display: flex;

}
.sec-4-1 {
    background: #193894;
    width: 80%;
    height: 80vh;
    margin: auto;
    padding-inline: 70px 160px;
    padding-block: 110px 12px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.skil {
    flex: 1.5;
}
.skil-1 {
    width: 50%;
}
.skil-1 img {
    width: 100%;
}
.sec-4-1 h1 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 72px;
}
.sec-4-1 p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
}
.store-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    background-color:#FFFFFF;
    color: #252B42;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
}
.store-btn i {
    font-size: 24px;
}
.skil-con {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.btn-cont {
    display: flex;
    gap: 30px;
}